/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/05/2021, 18:28:39
    Author     : mathe
*/

#titulotopo{
    background-image: url(../IMG/matematica2.jpg); 
    height: 80px;
    width: 1500px;
    text-align: center;
    color:white;
    margin-bottom:2px;
}

#paginabotoes{
    border: 1px solid black;
}

#titulomeio{
    text-align: center;
}

#paginabotoes label{
    margin-left:20px;
}

#paginabotoes input{
    margin-left:10px;
}

#Enviar{
    margin-left:10px;
}

#limpar{
    margin-left:300px;
}